.logo {
  width: 57px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.logo img {
  width: 22px;
  height: 33px;
  margin-bottom: 4px;
}
